.nav{
    padding-top: 5%;
    grid-area: b;
    background-color: rgb(255, 0, 0);
    color: azure;

  }

.links .active{
    color: yellow ;
    text-decoration: none;
}
.links .active:focus {
    color: #ffffff;
}